@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

* {
  font-family: 'Montserrat', sans-serif;
}

@keyframes animaOpacity {
  0% {
      opacity: 0;
      /* bottom: 0px; */
  }

  100% {
      /* bottom: -5px; */
      opacity: 1;
  }
}