@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */



* {
  font-family: 'Montserrat', sans-serif;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


/* width */
/* ::-webkit-scrollbar {
  width: 3px;
  height: 6px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
border-radius: 100vh;
background: #fff;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
background: #cbd5e0;
border-radius: 100vh;
border: 1px solid #080c14;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
background: #cbd5e080;
} */





@keyframes animaOpacity {
  0% {
      opacity: 0;
      /* bottom: 0px; */
  }

  100% {
      /* bottom: -5px; */
      opacity: 1;
  }
}

@layer utilities {

  .grid-col4 {
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  }
  
}